body {
	margin: 0 auto;
	padding:0;
}
.header {
	background: url(../assets/head.png) no-repeat center top ;
	height: 302px;
	
}
.logo {
	padding-left: 228px;
	padding-top: 48px;
}
.headMessage {
	font-size: 40px;
	color: #ffffff;
	padding-left: 720px;
	margin-top: 0px;
}
.btn1 {
	width: 165px;
	height: 52px;
	background-color: #a9d85f;
	border-radius: 5px;
	border: none;
	font-size: 16pt;
	color:#ffffff;
	margin-left: 228px;
}
.btn2 {
	width: 165px;
	height: 52px;
	background: transparent;
	border-radius: 5px;
	border: 3px solid #a9d85f;
	font-size: 16pt;
	color:#ffffff;
	margin-left: 32px;
}
.btn3 {
	width: 100px;
	height: 40px;
	background: transparent;
	border-radius: 5px;
	border: 3px solid #a9d85f;
	font-size: 13pt;
	color:#a3a3a3;
	margin-left: 32px;
}
.btn4 {
	width: 100px;
	height: 40px;
	background-color: #a9d85f;
	border-radius: 5px;
	border: none;
	font-size: 13pt;
	color:#ffffff;
	margin-left: 228px;
}
footer {
	background: url(../assets/footer.png) no-repeat center top ;
	height: 74px;
	width: 100%;
	/* position: absolute; */
	left: 0;
	bottom: 0;
	margin-bottom: 0px;
}
.content {
	padding-bottom: 17px;
	width: 1260px;
	padding-left: 227px;
	padding-top: 18px;
}	
.displayPosts {
	background-color: #ffffff;
	height: 140px;
	border-left: 3px solid #a9d85f;
}
section {
	background-color: #cecece;
	
}
.icon {
	cursor: default;
	color: black;
	background: white;
	margin-left: 1000px;
	margin-top: 5px
}
div.wrapper {
	width: 1140px;
	display: table
}
div.realTime {
	float: left;
	width: 360px;
	font-size: 32pt;
	display: table-cell;
	padding-left: 30px
	
}
div.title {
	float: right;
	width: 780px;
	font-size: 18pt;
	margin-top: 20px;
	display: table-cell
}
	div.place {
	float: left;
	width: 360px;
	font-size: 14pt;
	display: table-cell;
	margin-top: 25px;
	padding-left: 30px
}
div.message {
	float: right;
	width: 780px;
	font-size: 14pt;
	display: table-cell;
	margin-top: 25px
}